body {
    background: url(https://img.freepik.com/free-photo/pastel-pink-vignette-concrete-textured-background_53876-129734.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} 
