body {
    background: url(https://i.pinimg.com/736x/9c/c2/88/9cc288eff1d6898786de018730406557.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} 
